@model MvcOnlineTicariOtomasyon.Models.Sinfilar.KargoDetay

@{
    ViewData["Title"] = "YeniKargo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center">
            <h3><i class="fas fa-building"></i> Yeni Kargo Ekle</h3>
        </div>
        <div class="card-body">
            <form class="form-group" method="post">
                <div class="mb-3">
                    @Html.LabelFor(x => x.KargoDetayTakipKodu, new { @class = "form-label fw-bold" })
                    <input class="form-control" type="text" name="KargoDetayTakipKodu" value="@ViewBag.TakipKodu" readonly />
                </div>
                <div class="mb-3">
                    @Html.LabelFor(x => x.KargoDetayPersonel, new { @class = "form-label fw-bold" })
                    @Html.TextBoxFor(x => x.KargoDetayPersonel, new { @class = "form-control"})
                </div>
                <div class="mb-3">
                    @Html.LabelFor(x => x.KargoDetayAlici, new { @class = "form-label fw-bold" })
                    @Html.TextBoxFor(x => x.KargoDetayAlici, new { @class = "form-control"})
                </div>
                <div class="mb-3">
                    @Html.LabelFor(x => x.KargoDetayTarih, new { @class = "form-label fw-bold" })
                    <input type="date" class="form-control" name="KargoDetayTarih" />
                </div>
                <div class="mb-3">
                    @Html.LabelFor(x => x.KargoDetayAciklama, new { @class = "form-label fw-bold" })
                    @Html.TextAreaFor(x => x.KargoDetayAciklama, new { @class = "form-control" })
                </div>
                <button class="btn btn-success w-100">
                    <i class="fas fa-plus"></i> Ekle
                </button>
            </form>
        </div>
    </div>
</div>