@model MvcOnlineTicariOtomasyon.Models.Sinfilar.Urun

@{
    ViewData["Title"] = "Ürün Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center">
            <h3>Yeni Ürün Ekleme</h3>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.UrunAd, new { @class = "form-label fw-bold" })
                            @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.UrunMarka, new { @class = "form-label fw-bold" })
                            @Html.TextBoxFor(x => x.UrunMarka, new { @class = "form-control" })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.UrunStok, new { @class = "form-label fw-bold" })
                            @Html.TextBoxFor(x => x.UrunStok, new { @class = "form-control" })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.UrunAlisFiyat, new { @class = "form-label fw-bold" })
                            @Html.TextBoxFor(x => x.UrunAlisFiyat, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.UrunSatisFiyat, new { @class = "form-label fw-bold" })
                            @Html.TextBoxFor(x => x.UrunSatisFiyat, new { @class = "form-control" })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.Kategori, new { @class = "form-label fw-bold" })
                            @Html.DropDownListFor(x => x.KategoriID, (List<SelectListItem>)ViewBag.uekle, new { @class = "form-select p-1" })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.UrunGorsel, new { @class = "form-label fw-bold" })
                            @Html.TextBoxFor(x => x.UrunGorsel, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-success px-4 py-2">
                        <i class="fas fa-plus"></i> Ürün Ekle
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
